  @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,400;10..48,500;10..48,700&family=Raleway:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');


* {
    box-sizing:border-box;
    font-family: Raleway;
}
html, body {
    margin: 0px;
    padding: 0px;
}
.main-header {
    background-color: #0000004F;
    background-image: url("Images/pexels-suzy-hazelwood-1629236.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 2.5rem;
    /*This combines your stated background-color with the image*/
}
.nav ul {
    margin:0px;
}
.nav li {
    display:inline;
}
.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}
.nav a:hover{
    background-color: rgba(255,255,255,.3);
}
.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255,255,255,.3);
}
.main-nav li {
    padding: 0 5%;
}
.band-name{
    text-align: center;
    margin:0;
    font-size:4em;
    font-family: 'Rubik Iso';
    font-weight:normal;
}
.band-name-large {
    font-size: 6.5em;
}
.content-body {
    margin: 1em;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.body-header {
    font-family: "Metal Mania", cursive;
    font-weight:  normal;
    color: #333;
    text-align: center;
    font-size: 1.9em;
}
.about-band-image {
    float:left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}
.main-footer {
    background-color: #404e9bc7;
}