html {
    font-family: 'Comic Sans MS';
}
body {
    background-color: #443c35cc;
}
.main-container {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.container {
    display: flex;
    border: 8px solid black;
    height: 600px;
    width: 700px;
    justify-content: space-around;
    align-items: center;
}
.item {
    border: 3px solid black;
    width: 250px;
    text-align: center;
    background-color: #9485e275;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
.item-1 {
    height: 100px;
}
.item-2 {
    height: 200px;
}
.item-3 {
    height: 300px;
}
